6/GPU/exe
6/GPU/jacobi.o
6/GPU/laplace.o
6/multi/exe
6/multi/laplace.o
6/multi/jacobi.o
6/serial/exe
6/serial/jacobi.o
6/serial/laplace.o
7/exe
7/jacobi.o
7/laplace.o
8/graph
8/report3.nsys-rep
8/report2.nsys-rep
8/report1.nsys-rep
8/report1.sqlite
7/report2.nsys-rep
7/report1.nsys-rep
7/report1.sqlite
6/GPU/report1.nsys-rep
6/GPU/report1.sqlite
6/GPU/report2.nsys-rep
6/GPU/report3.nsys-rep
6/GPU/report4.nsys-rep
6/GPU/report5.nsys-rep
6/GPU/report6.nsys-rep
